@import "tailwindcss";
@import "@fontsource-variable/josefin-sans";
@custom-variant dark (&:where(.dark, .dark *));

body {
  font-family: "Josefin Sans Variable", sans-serif;
}

html,
body,
#root {
  min-height: 100%;
  background: var(--background);
  transition: background-color 0.2s;
}
:root {
  --background: #fafafa;
  --card: #ffffff;
  --text: #494c6b;
  --secondary-text: #9495a5;
  --border: #e3e4f1;
}

.dark {
  --background: #171823;
  --card: #25273d;
  --text: #c8cbe7;
  --secondary-text: #5b5e7e;
  --border: #393a4b;
}
/* Chrome, Edge, Safari */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #5a5a5a;
  border-radius: 9999px;
}

::-webkit-scrollbar-thumb:hover {
  background: #7a7a7a;
}

.todo-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: transparent transparent;
}

.todo-scrollbar:hover {
  scrollbar-color: #666 transparent;
}

.bg-app {
  background: var(--background);
}

.bg-card {
  background: var(--card);
}

.text-main {
  color: var(--text);
}

.text-secondary {
  color: var(--secondary-text);
}

.border-app {
  border-color: var(--border);
}

@keyframes liquidShine {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(120%);
  }
}

@keyframes bubble {
  0% {
    transform: translate(-50%, 10px) scale(0.5);
    opacity: 0;
  }

  20% {
    opacity: 0.4;
  }

  50% {
    transform: translate(-50%, -10px) scale(0.8);
    opacity: 0.25;
  }

  100% {
    transform: translate(-50%, -30px) scale(1);
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-thumb {
  border-radius: 9999px;
  background: rgba(120, 120, 120, 0.4);
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(120, 120, 120, 0.7);
}
